@import url('https://fonts.googleapis.com/css2?family=Salsa');

body {
    background-color: yellowgreen;
    font-family: 'Salsa', sans-serif;
}
h1 {
    color: white;
    text-align: center;
    font-size: 50px;
}



/* Register */

form{
    text-align: center;
}


.error-message {
    color: red;
    margin-bottom: 10px;
}