<!-- index.html -->

{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Voting System</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">
</head>

<body class="content">
    <div class="navbar-container">
        <nav class="navbar">
            <a href="{% url 'homePage' %}">Home</a>
            <a href="{% url 'loginPage' %}">Login</a>
            <a href="{% url 'registerPage' %}">Register</a>
            {% if user.is_authenticated %}
                <a href="{% url 'votingPage' %}">Vote</a>
            {% endif %}
            
            {% if user.is_authenticated %}
                <span style="float: right;">&nbsp;&nbsp;Welcome {{ user.username }}&nbsp;&nbsp;</span>
            {% endif %}
            {% if user.is_staff %}
                <a style="float: right;" href="{% url 'astats' %}">Stats</a>
            {% endif %}
        </nav>
        <hr>
        <h1>Online Voting System</h1>
    </div>


    {% block body %}
    <div class="home-container">
        <h2>This is home page</h2>
    </div>
    {% endblock %}

</body>

</html>