<!-- register.html --> 
{% extends 'index.html' %} 

{% block b1 %} 

<div class="register-container">
	<h2>Register</h2> 
	{% if error_message %} 
		<div class="error-message">{{ error_message }}</div> 
	{% endif %} 

	<form method="post" action="{% url 'register' %}"> 
		{% csrf_token %} 

		<label for="first_name">First Name:</label>
		<input type="text" name="first_name" required />
		<br />

		<label for="last_name">Last Name:</label>
		<input type="text" name="last_name" required />
		<br />

		<label for="date_of_birth">Date of Birth:</label>
		<input type="date" name="date_of_birth" />
		<br />

		<label for="aadhar_number">Aadhar Number:</label>
		<input type="text" name="aadhar_number" />
		<br />

		<label for="voter_id">Voter ID:</label>
		<input type="text" name="voter_id" />
		<br />

		<label for="gender">Gender:</label>
		<select name="gender">
			<option value="M">Male</option>
			<option value="F">Female</option>
			<option value="O">Other</option>
		</select>
		<br />

		<label for="email">Email:</label>
		<input type="email" name="email" required />
		<br />

		<label for="username">Username:</label>
		<input type="text" name="username" required />
		<br />

		<label for="password">Password:</label>
		<input type="password" name="password" required />
		<br />
		
		<input type="submit" value="Register" />
	</form>
</div> 
{% endblock %}